<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mine vue</title>
</head>
<body>
    <div id="app">
        <div>{{ msg }} 1234</div>
        <div>{{ count }}</div>
        <div v-text="msg"></div>
        <input type="text" v-model="msg">
        <input type="text" v-model="count">
    </div>
</body>
<script src="./dep.js"></script>
<script src="./watcher.js"></script>
<script src="./observer.js"></script>
<script src="./compiler.js"></script>
<script src="./index.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        data:{
            msg:'hello world',
            count:100,
            name:{
                test:'zsx'
            }
        }
    });
    // console.log(vm.msg);
    // vm.msg = {name:'vue'};
</script>
</html>